@font-face {
    font-family: Ubuntu;
    src: url("Ubuntu-Regular.ttf");
}

@font-face {
    font-family: DroidSansMono;
    src: url("DroidSansMono.ttf");
}

html {
  background-color: #e5e4e5;
  font-family: 'Ubuntu', sans-serif;
  cursor: default;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.delay300 {
    -webkit-animation-delay: 300;
    -moz-animation-delay: 300;
    animation-delay: 300;
}
.delay700 {
    -webkit-animation-delay: 700;
    -moz-animation-delay: 700;
    animation-delay: 700;
}
.delay800 {
    -webkit-animation-delay: 800;
    -moz-animation-delay: 800;
    animation-delay: 800;
}
.delay900 {
    -webkit-animation-delay: 900;
    -moz-animation-delay: 900;
    animation-delay: 900;
}
.delay1k {
    -webkit-animation-delay: 1000;
    -moz-animation-delay: 1000;
    animation-delay: 1000;
}
.delay1k2 {
    -webkit-animation-delay: 1200;
    -moz-animation-delay: 1200;
    animation-delay: 1200;
}
.delay1k4 {
    -webkit-animation-delay: 1400;
    -moz-animation-delay: 1400;
    animation-delay: 1400;
}
.delay1k6 {
    -webkit-animation-delay: 1600;
    -moz-animation-delay: 1600;
    animation-delay: 1600;
}
.delay2k5 {
    -webkit-animation-delay: 2500;
    -moz-animation-delay: 2500;
    animation-delay: 2500;
}



.pure-g [class *="pure-u"] {
  font-family: 'DroidSansMono', sans-serif;
}

label {
  text-transform: uppercase;
  letter-spacing: 3;
  font-size: 80%;
  opacity: 0.3;
}

.name, .network, .inspire {
  padding-bottom: 60px;
}

.name p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
  -webkit-margin-before: 0.5em;
}

.name p span {
  font-size: 80%;
  text-transform: uppercase;
  opacity: .3;
}

.network ul {
  list-style-type: none;
  margin: 0;
  padding: 1em 0 0 0;
  line-height: 1.5;
}

.network li {
  margin: 0;
  -webkit-transition: ease 200;
  transition: ease 200;
}

.network li:hover {
  margin: 0 0 0 -10px;
  -webkit-transition: ease 400;
  transition: ease 400;
}

.network i {
  opacity: .7;
}

.network a {
  text-decoration: none;
  color: black;
}

.network li span {
  opacity: 0.3;
}

.ribbon {
  position: fixed;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #3277CA;
  -webkit-transition: ease 4000;
  transition: ease 4000;
}

.badge-pro {
  padding: 1px 5px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  background: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color:#ff8833;
  opacity: 1 !important;
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
    .thin {display: inline block;}
    .wide {display: none;}
    .pure-u-5-12 {width: 80%;}
    .complex { padding-top: 10vh; }
}

@media screen and (min-width: 601px) {
    .thin {display: none;}
    .wide {display: inline block;}
    .complex { padding-top: 20vh; }
}



